@use './partials/variables' as *;
@use './partials/mixins' as *;

*{
    @include reset;
}
.wrapper{
    width: 70%;
    margin: 0 auto;
}
li{
    list-style: none;
}
.active{
    color: $color-blue;
    border-bottom: 3px solid $color-blue;
}
